.page-bg {
  background-image: url("/Bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 600px;
}

@media (min-width: 768px) {
  .page-bg {
    min-height: 700px;
  }
}

@media (min-width: 1024px) {
  .page-bg {
    min-height: 800px;
  }
}

/* Mobile background */
@media (max-width: 767px) {
  .page-bg {
    background-image: url("/Mobile_Responsive.jpg");
    background-position: top center;
  }
}
